/* video delivery app css stylesheet */

header {
	padding: 0 40px 0 40px;
}

img.logo {
	float: left;
	max-width: 20%;
}

h1.project-name {
	text-align: center;
}

p.intro-text {
	padding: 0 40px 0 40px;
}

section {
	padding: 0 40px 0 40px;
}

.centered {
	text-align: center;
}

div.col-headers {
	margin: 1em 40px 0 40px;
	border-bottom: 2px solid #000;
}

.col-header {
	width: 25%;
	display: none;
	padding-right: .5em;
}

.displayinline {
	display: inline-block;
}

ul.video-list {
	list-style-type: none;
	padding-right: 40px;
	margin-top: 0;
	display: table;
}

ul.video-list li {
	width: 100%;
	background-color: #CCC;
	display: table-row;
}

ul.video-list li:nth-child(even) {
	background-color: #FFF;
}

.col {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	display: table-cell;
	padding-right: .5 em;

}

.index.col, div.col-headers .col-header:first-child {
	width: 10%;
}
.download.col, .col-headers .col-header:last-child {
	width: 15%;
	padding-right: 0;
}

.search {
	padding-left: 40px;
}

video {
	max-width: 100%;
}