<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="videoConfig" ng-controller="ConfigController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Video Delivery Config</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="config.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<header>
<h1 class="project-name">Configure A Delivery</h1>
</header>
<hr>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<p class="view-button centered"><button><a href="../app/#/deliverables" target="_blank">View Delivery</a></button></p>
<section id="project-config">
	<img class="logo" ng-src="{{data.clientLogo && 'delivery/' + data.clientLogo || ''}}">
	<h2>Project Information</h2>
	<p>Project Title: <input ng-model="data.projectName"><span class="logo">Client Logo Filename: <input ng-model="data.clientLogo"></span></p>
	<p class="centered">Project Header Text: <br><textarea cols="60" ng-model="data.introText"></textarea></p>
	<p>Previews Folder: <input ng-model="data.previewPath"> <span>Downloads Folder: <input ng-model="data.downloadPath"></span></p>
</section>
<section id="column-config">
	<h2>Configure Columns</h2>
	<ul class="columns">
	<li class="column" ng-repeat="header in data.colHeaders | orderBy:index">
		<span class="index">Column {{header.index + 1}}</span>
		<span class="header"><input ng-model="header.title">
		</span> <span ng-if="$index==0"><input type="checkbox" ng-model="header.sortable"> Allow custom ordering<span> <input type="checkbox" ng-model="header.display"> Display</span><span> <input type="checkbox" ng-model="header.displayConsecutive"> Consecutive</span></span>
		<span ng-if="header.optional"><input type="checkbox" ng-model="header.display"> Show this column</span>
		<span ng-if="$index==4"><input type="checkbox" ng-model="header.displayDownloadAsIcon"> Display as icon</span>
		<span ng-if="$index==4 && header.displayDownloadAsIcon"> <input ng-model="header.iconFilename" placeholder="Icon Filename"></span>
	</li>
	</ul>
</section>
<section id="row-config">
	<h2>Configure Rows</h2>
	<h3>Advanced Options <input type="checkbox" ng-model="showAdvancedOptions"></h3>
	<div class="row-options" ng-show="showAdvancedOptions">
		Title links to: <select ng-model="data.colHeaders[1].linksTo" ng-change="setGlobalLinkPref()">
			<option value="false">No Link</option>
			<option value="previewUrl">Preview URL</option>
			<option value="downloadFilename">File Download</option>
			<option value="groupName">A Nested List</option>
		</select>
		<br>
		<button ng-click="setSeqFilenames('preview')">Sequential Preview Filenames</button>
		<button ng-click="setSeqFilenames('download')">Sequential Download Filenames</button>
		<br>
		<button ng-click="setUrlFromName('preview')">Preview URL from Title</button>
		<button ng-click="setUrlFromName('group')">Group Url from Title</button>
		<p>Choices apply to all items, but can be individually overriden below</p>
	</div>
	<ul class="delivery-list">
		<li class="row" ng-repeat="(rowIndex, video) in data.videos | orderBy:priority">
			<div class="row">
				<div ng-repeat="(colIndex, col) in data.colHeaders" ng-if="showHeader(colIndex, rowIndex)">
					<span class="col-{{$index}}">{{col.title}}: 
						<span ng-if="colIndex==0"><input class="display-order" type="number"  col-input="colValue(colIndex,rowIndex)" ng-model-options="{updateOn: 'blur'}"></span>
					</span>
					<span ng-if="colIndex!=0"><input col-input="colValue(colIndex,rowIndex)"></span>
					<span ng-if="$index==1">
						Links to: <select ng-model="video.linksTo">
							<option value="false">No Link</option>
							<option value="previewUrl">Preview URL</option>
							<option value="downloadFilename">File Download</option>
							<option value="groupName">A Nested List</option>
						</select>
						<br>
						<span ng-if="video.linksTo=='previewUrl'">
							Preview Url: {{data.previewPath}} <input ng-model="video.previewUrl">
							Preview Filename: <input ng-model="video.previewFilename">
						</span>
						<span ng-if="video.linksTo=='groupName'">
							Group Name: /deliverables/<input ng-model="video.groupName">
						</span>
						<span ng-if="video.linksTo=='downloadFilename'">
							Download: {{data.downloadPath}} <input ng-model="video.downloadFilename">
						</span>
					</span>
					<span ng-if="$index==4 && col.displayDownloadAsIcon"> Displayed as icon <img height="32" width="40" ng-src="delivery/{{col.iconFilename}}"/>
					</span>
				</div>
				<span class="delete-row"><button ng-click="deleteRow($index)">Delete Row</button></span>
			</div>
		</li>
	</ul>
	<p><button ng-click="addRow()">Add a row</button></p>
</section>
<p class="centered"><button ng-click="testWrite()">Save to File</button></p>
<p class="centered">{{feedback}}</p>
<p class="centered"><button><a href="../app/#/deliverables" target="_blank">View Delivery</a></button></p>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="config.js"></script>
</body>
</html>
