/* Dlvr css stylesheet */

header {
	padding: 0 40px 0 40px;
}

img.logo {
	position: absolute;
	max-width: 20%;
}

h1.project-name {
	text-align: center;
}

.breadcrumb {
	display: block;
}

.content {
	padding: 0 40px 0 40px;
}

.intro-text {
	margin-bottom: 1em;
	text-align: center;
	display: block;
}

.intro-text h2 {
	margin-top: 0;
}

.centered {
	text-align: center;
}

.col-headers {
	display: table;
	width: 100%;
	margin-top: 1em;
	border-bottom: 2px solid #000;
}

.displayinline {
	display: inline-block;
}

.video-list {
	display: block;
}

video-list ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	display: table;
	width: 100%;
}

.video-list ul li {
	width: 100%;
	background-color: #CCC;
	display: table-row;
}

.video-list ul li:nth-child(even) {
	background-color: #FFF;
}

.col {
	vertical-align: middle;
	display: table-cell;
	padding: .5em
}

.col-headers .col {
	padding-bottom: 0;
}

.hide {
	color: red;
}

.col.col-1 {
	width: 75%;
}

.col.col-2 {
	width: 37.5%;
}

.col.col-3 {
	width: 25%;
}

.index.col {
	width: 10%;
}

.download.col {
	width: 15%;
	padding-right: 0;
}

video {
	max-width: 100%;
	background:transparent no-repeat url('dlvr.png');
	background-size:50% 50%;
	background-position: 50% 30%;
}

video:hover {
	cursor: pointer;
}

/* Night Theme */

body.night {
	background-color: #222;
	color: white;
}

.night a {
	color: #89B;
}

.night a:visited {
	color: #89B;
}

.night a:hover {
	color: #C55;
}

.night a:active {
	color: #E00;
}

.night .video-list ul li {
	background-color: #333;
	color: #EEE;
}

.night .video-list ul li:nth-child(even) {
	background-color: #222;
}

.night .col-headers {
	border-color: #C55;
}

.night .search input:focus {
	outline-color: #C55;
}
