<section class="projects">

	<h2>Projects</h2>
	
	<p ng-hide="showEditor" ng-if="!projects[0]">{{actionText}}</p>
	
	<p ng-hide="action=='create' || action=='edit' "><button ng-click="createProject()">New Project</button></p>
	
	<editor ng-if="showEditor=='create'"></editor>
	
	<ul ng-if="projects[0]">
	
		<li ng-repeat="project in projects | reverse" class="project-list-item">
		
			<span class="action-buttons">
			
			 	<button ng-click="editProject(projects.length - $index - 1)">Edit</button>
			 	
			 	<button style="color:#E00;" ng-click="deleteProject(projects.length - $index - 1)">X</button>
			 	
			</span>
			
			<a href="projects/{{project.projectId}}" ng-click="editSettings($event, project.projectId)">{{project.projectName}}</a>
			
			<img ng-if="project.projectLogo" onerror="this.style.display='none'" ng-src="../projects/{{project.projectRootPath}}/{{project.projectLogo}}" />
			
			<br>
			
			<span class="details">Project Folder: 
				<span class="faded">Dlvr/projects/{{project.projectRootPath}}</span>
			</span>
			
			<span class="details faded" ng-if="project.configNightTheme">
				Use Night Theme
			</span>
			
			<span class="details">Revised: 
				<span class="faded">{{project.revisionStamp | date : 'short'}}</span>
			</span>
			
			<p ng-if="!project.linked" class="error">Project folder is not linked. You can <a style="font-size:1em;" ng-click="createFolder(project.projectRootPath, projects.length - $index - 1)">create the Folder</a> or save the project again after uploading the folder {{project.projectRootPath}} to dlvr/projects/</p>
			
			<editor ng-if="showEditor===(projects.length - $index - 1)" ng-model="project"></editor>
			
		</li>
		
	</ul>
	
	<p ng-class="{feedback: feedback, fail: fail}" class="centered" ng-bind-html="feedback"></p>
	
</section>