<h2>{{current.video.name}}</h2>
	
<video controls preload="metadata" ng-show="current.video !== null" ng-attr-poster="current.video.poster">

	<source ng-src="{{source(current.video.previewFilename, '.mp4')}}" type="video/mp4" ng-if="current.video.previewFilename">
	
	<source ng-src="{{source(current.video.previewFilename, '.webm')}}" type="video/webm" ng-if="current.video.previewFilename">
	
	We could not find a source file that your browser supports....
	
</video>

<p ng-if="current.video.optional1">{{data.colHeaders[2].title}}: {{current.video.optional1}}</p>

<p ng-if="current.video.optional2">{{data.colHeaders[3].title}}: {{current.video.optional2}}</p>

<p ng-if="current.video.downloadFilename">

	<a href="projects/{{settings.projectRootPath}}/{{data.downloadPath}}/{{current.video.downloadFilename}}" target="_self">Download</a>
	
</p>