<breadcrumb class="breadcrumb"></breadcrumb>
<section class="centered">
<h2>{{video.name}}</h2>
<video controls>
	<source src="{{source(path, video.previewFilename, '.mp4')}}" type="video/mp4">
	<source src="{{source(path, video.previewFilename, '.webm')}}" type="video/webm">
	We could not find a source file that your browser supports....
</video>
<p ng-if="video.optional1">{{colHeaders[2].title}}: {{video.optional1}}</p>
<p ng-if="video.optional2">{{colHeaders[3].title}}: {{video.optional2}}</p>
<p ng-if="video.downloadFilename"><a href="{{data.downloadPath}}{{video.downloadFilename}}">Download</a></p>
<p>
  
  {{ 'Dlvr v%VERSION%' | interpolate }}
</p>
</section>