/* video delivery app config css stylesheet */

body.night {
	background-color: #212128;
	color: #EEE;
}

.theme-switch {
	float: left;
	margin: -2em 0 0 1em;
}

.night .delivery-list li:nth-child(even) {
	background-color: #160242;
}

.night .delivery-list li:nth-child(odd) {
	background-color: #5e5e5e;
}

.night .index {
	background-color: inherit;
}

.night input {
	background-color: #ddd;
	border: 2px ridge #57A;
}

.save {
	color: #000;
	background-color: rgba(106, 255, 82, 0.65);
}

section {
	padding: 0 40px 0 40px;
	border-bottom: 1px solid #444;
	position: relative;
}

.view-button {
	position: absolute;
	width: 100%;
	margin-top: -1em;
}

img.logo {
	position: absolute;
	right: 40px;
	top: -.5em;
}

h1.project-name {
	text-align: center;
}

span.logo {
	padding-left: 40px;
	display: inline-block;
}

ul {
	list-style: none;
	padding: 0;
}

div.row {
	border: 1px solid #444;
	padding: 1em;
}

li.headers {
	margin-bottom: .5em;
}

span.col.header>input {
	background-color: #444;
	color: #EEE;
}

li.row {
	margin-bottom: .5em;
}

span.col {
	display: inline-block;
	width: 22.5%;
}

.delivery-list div {
	margin-bottom: .5em
}

.delivery-list button {
	color: red;
}

.delivery-list li:nth-child(even) {
	background-color: #DDD;
}

.delivery-list li:nth-child(odd) {
	background-color: #FFF;
}

span.index {
	display: inline-block;
	width: 10%;
	background-color: #FFF;
}

.centered {
	text-align: center;
}

input.display-order {
	width: 5em;
}

span.delete-row, span.col-0 {
	float: right;
}

span.delete-row {
	margin-top: -1em;
}

.feedback {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	margin: 8em;
	background-color: green;
	padding: 2em 1em;
	font-size: 1.5em;
	color: #FFF;
	border: 1px solid #CFC;
}